<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <context-param>
    <param-name>upload_location</param-name>
    <param-value>/home/fiorix/Immagini/Tiw</param-value>
  </context-param>
  <servlet>
    <servlet-name>ImageProvider</servlet-name>
    <servlet-class>servlet.ImageProvider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageProvider</servlet-name>
    <url-pattern>/image/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectionTask</servlet-name>
    <servlet-class>servlet.SelectionTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectionTask</servlet-name>
    <url-pattern>/SelectionTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnnotationTask</servlet-name>
    <servlet-class>servlet.AnnotationTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnotationTask</servlet-name>
    <url-pattern>/AnnotationTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateCampaign</servlet-name>
    <servlet-class>servlet.CreateCampaign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCampaign</servlet-name>
    <url-pattern>/CreateCampaign</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeManager</servlet-name>
    <servlet-class>servlet.HomeManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeManager</servlet-name>
    <url-pattern>/HomeManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeWorker</servlet-name>
    <servlet-class>servlet.HomeWorker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeWorker</servlet-name>
    <url-pattern>/HomeWorker</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Signup</servlet-name>
    <servlet-class>servlet.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Rating</servlet-name>
    <servlet-class>servlet.Rating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rating</servlet-name>
    <url-pattern>/Rating</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Annotation</servlet-name>
    <servlet-class>servlet.Annotation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Annotation</servlet-name>
    <url-pattern>/Annotation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivateCampaign</servlet-name>
    <servlet-class>servlet.ActivateCampaign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivateCampaign</servlet-name>
    <url-pattern>/ActivateCampaign</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCampaign</servlet-name>
    <servlet-class>servlet.DeleteCampaign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCampaign</servlet-name>
    <url-pattern>/DeleteCampaign</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WorkerStatistics</servlet-name>
    <servlet-class>servlet.WorkerStatistics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerStatistics</servlet-name>
    <url-pattern>/WorkerStatistics</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ManagerStatistics</servlet-name>
    <servlet-class>servlet.ManagerStatistics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerStatistics</servlet-name>
    <url-pattern>/ManagerStatistics</url-pattern>
  </servlet-mapping>
</web-app>